.maket{
    max-width: 1440px;
    margin: 0px auto;
    
}
    /* max-width:1440px{
    .maket{
    max-width:970px;
    }
    }
    max-width:992px{
    .maket{
    max-width:750px;
    }
    }
    max-width:767px{
    .maket{
    max-width:none;
    }
    } */

    .header-content{
        background-color: rgb(46, 1, 1);
        height:600px;
    }

    .header{
        justify-content: space-around;
        align-items: center;
    /* max-width: 100%;
    height: 600px; */
    display: flex;
    margin: 0px auto;
    }
    .textHeader{
    color: white;
    margin-top: 30px;
    font-size: 26px;
    line-height:70%
    /* margin-top:30px;
    margin-left: 100px;
    font-size: 30px;
    line-height:60% */
    }
    .navigHeader{
    color: white;
    margin: 30px;
    text-decoration: none;
    padding: 2px;
    }
    a:hover{
        background:rgb(20, 199, 109); 
        border-radius: 5px 5px 5px 5px;
        color: white;
    }
    .navigHeader:hover{
    color: white;
    }
    .navig{
        flex-flow: wrap;
    justify-content: center;
    list-style-type: none;
    display: flex;
    /* margin-left: 200px; */
    
    }
    .spanHeader{
    font-size: 12px;
    
    }
    .buttonHome{
    /* width: 90px;
    height: 40px; */
    border-radius: 15px 15px 15px 15px;
    background: rgb(20, 199, 109);
    color: white;
    /* margin-top: 25px; */
    
    }
    
    .cursus{
    color: white;
    margin-left: 160px;
    margin-top: 40px;
    
    
    
    }
    .cursusTextWan{
        font-size: 45px;
    }
    .cursusTextTwo{
        font-size: 13px;
        margin-left: 160px;
        color: white;
    }
    /* .cursusSpan{
    font-size: 35px;
    line-height:60%
    } */
    .krug{
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color:rgb(39, 36, 36);
    border: 15px solid gray;
   margin-left: 600px;
   bottom: 300px;

   

    
    
    
    }
  .krugText{
      color: white;
    display:flex;
    margin-top: 150px;
    margin-left: 125px;
  }
    .cursusButton{
    /* width: 200px;
    height: 40px; */
    background: rgb(20, 199, 109);
    color: white;
    border-radius: 10px 10px 10px 10px;
    margin-left: 160px;
    }
    .content{

        flex-flow: wrap;
        background: rgb(124, 5, 5);
        display: flex;
        justify-content: space-around;
        width: 1440px;
        height: 1020px;
    }
    
    .kvadrat{
        background: yellowgreen;
        margin-bottom: 10px;
        width: 300px;
        height: 300px;
    }
    .cerviceTitle{
        
        height: 455px;
        border:3px solid gray;
        padding:60px;
        border-right: none;
        border-left: none;
        border-top: none;
        margin-bottom: 20px;
        
    }
    .title{
        width: 245px;
        height: 330px;
        background: white;
        /* border:2px solid black; */
        display: inline-block;
        margin-right: 60px;
        text-align: center;
    }
    .title:hover{
        background: rgb(20, 199, 109);
        color: white;
    }
    .titleKvadrat{
        display: flex;
        width: 120px;
        height: 120px;
        background: rgb(39, 36, 36);;
        margin:20px 60px;
        padding-top: 20px;
        text-align: center;
    }
    .titleText{
        color: white;
        text-align: center;
    }
    .titleKvadrat:hover{
background: white;

    }
    .lorem{
        display:flex;
        justify-content:space-around;
    }
    .lorem{
        margin-right: 55px;
        margin-bottom: 120px;

/* padding: 60px; */
    }
    .loremRectangle{
        width: 365px;
        height: 220px;
        background: rgb(39, 36, 36);
        border:4px solid white;
        margin: 20px;
        display:flex;
    
    }
    .loremNiz{
        display: flex;
        position: relative;
        bottom: 120px;
        margin-right:54px;

    }
    .loremRectangleNiz{
        width: 365px;
        height: 220px;
        background: rgb(39, 36, 36);
        border:4px solid white;
        margin: 20px;
        /* display:flex; */
    }
    .loremText{
        color: white;
        text-align: center;
    }
    .footer{
        width: 1440px;
        height: 500px;
        background: rgb(39, 36, 36);
        /* flex-flow: wrap;
        display: flex; */
        display:inline-flex;
        /* justify-content:left; */
    }
    .stWan{
    margin-left: 105px;
    margin-top: 30px;
    margin-right: 20px;
    }
    .stTwo{
        margin-top: 30px;
        margin-right: 20px;
    }
    .stFree{
        margin-top: 30px;
        margin-right: 40px;
    }
    .stFor{
        margin-top: 30px;
        margin-right: 20px;
    }
    .footerInp{
        width: 310px;
        height: 40px;
        background: rgb(48, 45, 45);
        border-radius: 10px 10px 10px 10px;
        margin:5px;
    }
    .footerInpMessage{
        width: 310px;
        height: 90px;
        background: rgb(48, 45, 45);
        border-radius: 10px 10px 10px 10px;
        margin:5px;
    }
    .stForButton{
        width: 100px;
        height: 35px;
        background: rgb(20, 199, 109);
        border-radius: 10px 10px 10px 10px;
    }
    .footerStolb{
        color: white;
    }
    .footerText{
        color: white;
    }
    .spanFooter{
        color: rgb(20, 199, 109);
    }
    .a{
        color: rgb(20, 199, 109);
    }
    .footerSsylka{
        color: rgb(20, 199, 109);
    }
    .podval{
        width: 1440px;
        height: 50px;
        background: rgb(48, 45, 45);
        border: 3px solid black;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .podvalText{
        color: white;
        margin-left: 100px;
        padding: 10px;
        font-size: 15px;
        display: inline;
        justify-content: left;
    }
    @media(max-width:1440px){
        .textHeader{
            background-color: chartreuse;
        }
        .title{
            width: 245px;

        }
    .content{
        width: 100%;
    }
    .titleKvadrat{
        width: 50%;
    }
    .lorem{
        width: 100%;
    }
    .loremNiz{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .podval{
        width: 100%;
    }
    }

    @media(min-width:992px) and (max-width: 1439px){
        .textHeader{
           background-color: rgb(248, 0, 0);
        }
.title{
    width: 145px;
}
.content{
    width: 100%;
}
.titleKvadrat{
    width: 50%;
}
.lorem{
    width: 100%;
}
.loremNiz{
    width: 100%;
}
.footer{
    width: 100%;
}
.podval{
    width: 100%;
}
    }
    
    @media(min-width:768px) and (max-width: 991px){
        .textHeader{
            background-color: blue;
        }
        .title{
            width: 45px;
        }
        .content{
            width: 100%;
        }
        /* .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } */
        .titleKvadrat{
            width: 50%;
        }
        .lorem{
            width: 100%;
        }
        .loremNiz{
            width: 100%;
        
        }
        .footer{
            width: 100%;
        }
        .podval{
            width: 100%;
        }
    }
    
  